@import "compass/reset";
$navy:rgb(31,63,102);
body{
    background-color:rgb(180,180,180);
    margin:0;
    b{
        font-weight:600;
    }
}
header{
    background-color:$navy;
    position:relative;
}
#logo{
    height:70px;
    width:120px;
    float:left;
    position:relative;
}
ul{
    list-style-type:none;
    padding:15px 0 0 85px;
    float:left;
}
#ellisty{
    display:inline;
    font-size: 40px;
    font-family: Helvetica;
    margin:90px;
}
nav{
    padding:30px 60px 30px 45px;
}
#search{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5%;
    margin: auto;
    height: 1em;
}
.clear{
    clear:both;
}
.banner {
    position: relative;
    width: 100%;

        #tekst {
        color:navy;
        height: 250px;
        width: 650px;
        text-align:justify;
        position:absolute;
        top: 25%;
        left:11%;
        font-size: 45px;
        font-family:  Helvetica;
        }
}
.banner img {
    width: 100%;
}
.banner .guzikbanner {
    position: absolute;
    top: 63%;
    left: 11%;
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 10px 32px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}
.banner .device {
    position: absolute;
    top: 25%;
    right: 10%;
    width: 35%;
    height: 45%;
}
.principle {
        position:relative;
        height:70px;
        margin:0;
        padding: 20px 0 20px 0;
   .pone {
        position: absolute;
        height:70px;
        width:32%;
        left:5%;
        font-size: 20px;
        text-align: justify;
        font-family:Verdana;
        color:$navy;
        img {
                float:left;
                padding: 0 5px 0 0;
           }
   }
   .ptwo {
        position: absolute;
        height:70px;
        width:32%;
        left:36%;
        font-size: 20px;
        text-align: justify;
        font-family:Verdana;
        color:$navy;
            img {
                float:left;
                padding: 0 5px 0 0;
               }
    }
   .pthree {
        position: absolute;
        height:70px;
        width:32%;
        left:67%;
        font-size: 20px;
        text-align: justify;
        font-family:Verdana;
        color:$navy;
        img {
                float:left;
                padding: 0 5px 0 0;
           }
    }
}
.trzeciblok{
    height: 280px;
    background-color:white;
    padding: 20px 0 20px 130px;
    margin: 0 0 0 0;

    .iphone {
        height:283px;
        width:350px;
        left: 10%;
        float: left;
    }
    .guzikdwa {
        background-color: green;
        color: white;
        font-size: 30px;
        padding: 10px 32px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 600;
        margin: 14% 0 0 0;
    }
    #tekst2 {
        color:navy;
        height: 150px;
        width: 700px;
        text-align:justify;
        float:left;
        font-size: 24px;
        font-family: Verdana;
        padding: 0 0 0 20px;

        #tekst2nag {
        font-size: 130%;
        }
    }
}
.clear{
    clear:both;
}
#guzikkolor{
    position: relative;
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 10px 32px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    &.clicked {
      background-color: green;
    }
}

#lasttext{
        color:$navy;
        font-family:Verdana;
        background-color:white;
        padding: 20px 0 10px 130px;
        font-size:33px;

    }
    .clear{
        clear:both;
    }
.lewa {
    background-color:white;
    padding: 0 60px 50px 130px;

    #mobilep img {
        float:left;
    }

    .pp {
        text-align:justify;
        background-color: white;
        font-family:Verdana;
        font-size:14px;
        padding:12px 0 0 0;
        color:$navy;
        height:70px;

        .ppt{
            margin:21px 65% 0 150px;
            padding:5px 0;
            background-color: rgb(180,180,180);
        }

        img {
            float:left;
            padding: 0 0 0 10px;
        }
    }
    .forma {
        padding:60px 15px 55px 15px;
        border-radius:5px;
        background-color:$navy;
        width:20%;
        float:right;

        input[type=text] {
        width:100%;
        border-radius:5px;
        border:none;
        margin:8px 0 10px 0;
        padding:6px 0 6px 4px;
        }

        input[type=submit] {
        width:50%;
        background-color:green;
        color:white;
        border-radius:5px;
        float:right;
        border: none;
        cursor: pointer;
        font-weight:600;
        font-size:25px;
        padding: 8px 0 8px 0;
        }
    }
}