/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/janek.scss */
body {
  background-color: lightgrey;
  font-size: 16px;
}
/* line 11, ../sass/janek.scss */
body * {
  font-family: "Opensans";
}
/* line 14, ../sass/janek.scss */
body b {
  font-weight: 600;
}

/* line 19, ../sass/janek.scss */
header {
  background-color: #1f3f66;
}

/* line 24, ../sass/janek.scss */
#logo {
  float: left;
  margin: 30px 0 30px 5%;
  height: 100px;
  width: 300px;
}

/* line 31, ../sass/janek.scss */
header #tekst {
  padding-top: 60px;
  color: white;
  font-size: 2em;
  font-family: "Opensans";
  margin-top: -10px;
  padding-left: 180px;
  float: left;
}

/* line 41, ../sass/janek.scss */
header a {
  padding: 0 100px 0 0;
}

/* line 45, ../sass/janek.scss */
#searchbox {
  position: absolute;
  right: 70px;
  top: 60px;
  border: 5px solid white;
}

/* line 54, ../sass/janek.scss */
.cleaner {
  clear: both;
}

/* line 58, ../sass/janek.scss */
.pacznato {
  position: relative;
  top: 0;
  left: 0;
}

/* line 65, ../sass/janek.scss */
#glownyobrazek {
  position: relative;
  width: 100%;
  height: 600px;
}

/* line 73, ../sass/janek.scss */
.pacznato #tekst {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #1f3f66;
  font-size: 2.5em;
  font-family: "Opensans";
  width: 40%;
  text-align: justify;
}

/* line 87, ../sass/janek.scss */
#telefony {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 40%;
  height: auto;
}

/* line 97, ../sass/janek.scss */
.guziczek {
  background-color: #4CAF50;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  font-size: 2em;
  font-family: "Opensans";
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
/* line 112, ../sass/janek.scss */
.guziczek#volup {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

/* line 122, ../sass/janek.scss */
.dolnypanel {
  color: navy;
  font-size: 25px;
  font-family: "Opensans";
  padding: 20px 5% 20px 5%;
}
/* line 129, ../sass/janek.scss */
.dolnypanel .column {
  display: inline-block;
  width: 32%;
  text-align: justify;
  position: relative;
}
/* line 134, ../sass/janek.scss */
.dolnypanel .column div {
  display: inline-block;
  padding-left: 70px;
}
/* line 139, ../sass/janek.scss */
.dolnypanel .column img {
  top: 0;
  left: 0;
  position: absolute;
}

/* line 148, ../sass/janek.scss */
.dolnepacznato {
  margin: 5%;
  padding: 30px 10% 0 10%;
  background: white;
}

/* line 155, ../sass/janek.scss */
#profile {
  float: left;
  height: auto;
  width: 30%;
}

/* line 163, ../sass/janek.scss */
#tekstatvero {
  top: 10%;
  left: 10%;
  color: #1f3f66;
  font-size: 2em;
  font-family: "Opensans";
  padding: 15px 10% 10px 30%;
  width: 60%;
  text-align: justify;
}

/* line 175, ../sass/janek.scss */
#velilum {
  bottom: 15%;
  right: 30%;
}

/* line 183, ../sass/janek.scss */
#lewytelefon {
  float: left;
}

/* line 187, ../sass/janek.scss */
#utenim {
  font-size: 2.5em;
  margin: 1em 0;
}

/* line 191, ../sass/janek.scss */
.utenim {
  color: navy;
  font-size: 1.5rem;
  font-family: "Opensans";
  padding: 20px 5% 20px 20px;
  width: 40%;
  float: left;
}

/* line 201, ../sass/janek.scss */
.utenimTekst {
  background-color: grey;
  padding-left: 3em;
  position: relative;
  margin-bottom: 1em;
}
/* line 206, ../sass/janek.scss */
.utenimTekst .utenimImage {
  position: absolute;
  display: inline-block;
  left: -1em;
  top: -0.5em;
}

/* line 215, ../sass/janek.scss */
#kwadrat {
  background-color: navy;
  width: 30%;
  height: 20%;
  float: right;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px 15px;
}

/* line 226, ../sass/janek.scss */
#iste {
  color: white;
  font-size: 1.5em;
  font-family: "Opensans";
  padding: 0 20% 5px 5px;
}

/* line 234, ../sass/janek.scss */
.tuwpisz {
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  margin: 10px;
}

/* line 241, ../sass/janek.scss */
#wyslij {
  float: right;
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 2em;
  font-family: "Opensans";
  width: 60%;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
