/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/kamil.scss */
body {
  background-color: #b4b4b4;
  margin: 0;
}
/* line 6, ../sass/kamil.scss */
body b {
  font-weight: 600;
}

/* line 10, ../sass/kamil.scss */
header {
  background-color: #1f3f66;
  position: relative;
}

/* line 14, ../sass/kamil.scss */
#logo {
  height: 70px;
  width: 120px;
  float: left;
  position: relative;
}

/* line 20, ../sass/kamil.scss */
ul {
  list-style-type: none;
  padding: 15px 0 0 85px;
  float: left;
}

/* line 25, ../sass/kamil.scss */
#ellisty {
  display: inline;
  font-size: 40px;
  font-family: Helvetica;
  margin: 90px;
}

/* line 31, ../sass/kamil.scss */
nav {
  padding: 30px 60px 30px 45px;
}

/* line 34, ../sass/kamil.scss */
#search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  margin: auto;
  height: 1em;
}

/* line 42, ../sass/kamil.scss */
.clear {
  clear: both;
}

/* line 45, ../sass/kamil.scss */
.banner {
  position: relative;
  width: 100%;
}
/* line 49, ../sass/kamil.scss */
.banner #tekst {
  color: navy;
  height: 250px;
  width: 650px;
  text-align: justify;
  position: absolute;
  top: 25%;
  left: 11%;
  font-size: 45px;
  font-family: Helvetica;
}

/* line 61, ../sass/kamil.scss */
.banner img {
  width: 100%;
}

/* line 64, ../sass/kamil.scss */
.banner .guzikbanner {
  position: absolute;
  top: 63%;
  left: 11%;
  background-color: green;
  color: white;
  font-size: 30px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

/* line 77, ../sass/kamil.scss */
.banner .device {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 35%;
  height: 45%;
}

/* line 84, ../sass/kamil.scss */
.principle {
  position: relative;
  height: 70px;
  margin: 0;
  padding: 20px 0 20px 0;
}
/* line 89, ../sass/kamil.scss */
.principle .pone {
  position: absolute;
  height: 70px;
  width: 32%;
  left: 5%;
  font-size: 20px;
  text-align: justify;
  font-family: Verdana;
  color: #1f3f66;
}
/* line 98, ../sass/kamil.scss */
.principle .pone img {
  float: left;
  padding: 0 5px 0 0;
}
/* line 103, ../sass/kamil.scss */
.principle .ptwo {
  position: absolute;
  height: 70px;
  width: 32%;
  left: 36%;
  font-size: 20px;
  text-align: justify;
  font-family: Verdana;
  color: #1f3f66;
}
/* line 112, ../sass/kamil.scss */
.principle .ptwo img {
  float: left;
  padding: 0 5px 0 0;
}
/* line 117, ../sass/kamil.scss */
.principle .pthree {
  position: absolute;
  height: 70px;
  width: 32%;
  left: 67%;
  font-size: 20px;
  text-align: justify;
  font-family: Verdana;
  color: #1f3f66;
}
/* line 126, ../sass/kamil.scss */
.principle .pthree img {
  float: left;
  padding: 0 5px 0 0;
}

/* line 132, ../sass/kamil.scss */
.trzeciblok {
  position: relative;
  height: 280px;
  width: 100%;
  background-color: white;
  padding: 20px 60px 20px 60px;
}
/* line 139, ../sass/kamil.scss */
.trzeciblok .iphone {
  height: 283px;
  width: 350px;
  left: 10%;
  float: left;
}
/* line 145, ../sass/kamil.scss */
.trzeciblok .guzikdwa {
  position: absolute;
  top: 70%;
  left: 29%;
  background-color: green;
  color: white;
  font-size: 30px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
/* line 158, ../sass/kamil.scss */
.trzeciblok #tekst2 {
  color: navy;
  height: 150px;
  width: 700px;
  text-align: justify;
  float: left;
  font-size: 24px;
  font-family: Verdana;
  padding: 0 0 0 20px;
}
/* line 168, ../sass/kamil.scss */
.trzeciblok #tekst2 #tekst2nag {
  font-size: 130%;
}

/* line 173, ../sass/kamil.scss */
.clear {
  clear: both;
}

/* line 176, ../sass/kamil.scss */
#guzikkolor {
  position: relative;
  background-color: red;
  color: white;
  font-size: 30px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
/* line 186, ../sass/kamil.scss */
#guzikkolor.clicked {
  background-color: green;
}

/* line 191, ../sass/kamil.scss */
#lasttext {
  float: left;
  color: #1f3f66;
  font-family: Verdana;
  background-color: white;
  padding: 0 60px 10px 60px;
}

/* line 198, ../sass/kamil.scss */
.lewa {
  height: 280px;
  width: 100%;
  background-color: white;
  padding: 20px 60px 20px 60px;
}
/* line 204, ../sass/kamil.scss */
.lewa #mobilep img {
  float: left;
}
/* line 208, ../sass/kamil.scss */
.lewa #tekst3nag {
  font-size: 200%;
}
/* line 212, ../sass/kamil.scss */
.lewa #pp1 {
  float: left;
  left: 27%;
  top: 24%;
  text-align: justify;
  width: 190px;
  padding: 5px 30px;
  background-color: #b4b4b4;
  font-family: Verdana;
  font-size: 14px;
  color: #1f3f66;
}
/* line 224, ../sass/kamil.scss */
.lewa #pp1 img {
  float: left;
  top: -15px;
  left: -55px;
}
/* line 230, ../sass/kamil.scss */
.lewa #pp2 {
  float: left;
  left: 27%;
  top: 52%;
  text-align: justify;
  width: 190px;
  padding: 5px 30px;
  background-color: #b4b4b4;
  font-family: Verdana;
  font-size: 14px;
  color: #1f3f66;
}
/* line 242, ../sass/kamil.scss */
.lewa #pp2 img {
  top: -15px;
  left: -55px;
  float: left;
}
/* line 248, ../sass/kamil.scss */
.lewa #pp3 {
  float: left;
  left: 27%;
  top: 80%;
  text-align: justify;
  width: 190px;
  padding: 5px 30px;
  background-color: #b4b4b4;
  font-family: Verdana;
  font-size: 14px;
  color: #1f3f66;
}
/* line 260, ../sass/kamil.scss */
.lewa #pp3 img {
  top: -15px;
  left: -55px;
  float: left;
}

/* line 267, ../sass/kamil.scss */
.forma {
  padding: 60px 15px 55px 15px;
  border-radius: 5px;
  background-color: #1f3f66;
  width: 20%;
}
/* line 273, ../sass/kamil.scss */
.forma input[type=text] {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin: 8px 0 10px 0;
  padding: 6px 0 6px 4px;
}
/* line 281, ../sass/kamil.scss */
.forma input[type=submit] {
  width: 50%;
  background-color: green;
  color: white;
  border-radius: 5px;
  float: right;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 25px;
  padding: 8px 0 8px 0;
}
