/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/kamil.scss */
body {
  background-color: grey;
  margin: 0;
}
/* line 6, ../sass/kamil.scss */
body b {
  font-weight: 600;
}

/* line 10, ../sass/kamil.scss */
header {
  background-color: #1f3f66;
  position: relative;
}

/* line 14, ../sass/kamil.scss */
#logo {
  height: 70px;
  width: 120px;
  float: left;
  position: relative;
}

/* line 20, ../sass/kamil.scss */
ul {
  list-style-type: none;
  padding: 0 0 0 100px;
  float: left;
}

/* line 25, ../sass/kamil.scss */
#ellisty {
  display: inline;
  font-size: 20px;
  font-family: Helvetica;
}

/* line 30, ../sass/kamil.scss */
nav {
  padding: 30px 60px 30px 45px;
}

/* line 33, ../sass/kamil.scss */
#search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  margin: auto;
  height: 1em;
}

/* line 41, ../sass/kamil.scss */
.clear {
  clear: both;
}

/* line 44, ../sass/kamil.scss */
.banner {
  position: relative;
  width: 100%;
}
/* line 47, ../sass/kamil.scss */
.banner #tekst {
  color: navy;
  height: 400px;
  width: 650px;
  text-align: justify;
  position: absolute;
  top: 25%;
  left: 11%;
  font-size: 45px;
}

/* line 58, ../sass/kamil.scss */
.banner img {
  width: 100%;
}

/* line 61, ../sass/kamil.scss */
.banner .guzikbanner {
  position: absolute;
  top: 63%;
  left: 11%;
  background-color: green;
  color: white;
  font-size: 30px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

/* line 74, ../sass/kamil.scss */
.banner .device {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 35%;
  height: 45%;
}

/* line 81, ../sass/kamil.scss */
.principle {
  position: relative;
}
/* line 83, ../sass/kamil.scss */
.principle .pone {
  position: absolute;
  left: 5%;
  height: 70px;
  width: 300px;
  font-size: 20px;
  text-align: justify;
}
/* line 91, ../sass/kamil.scss */
.principle .ptwo {
  position: absolute;
  left: 35%;
  height: 70px;
  width: 300px;
  font-size: 20px;
  text-align: justify;
}
/* line 99, ../sass/kamil.scss */
.principle .pthree {
  position: relative;
  left: 65%;
  height: 70px;
  width: 300px;
  font-size: 20px;
  text-align: justify;
}
